*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
   height: 100vh;
   width: 100vw;
  
   background-color: black;
}
.heading{
    margin-top: 70px;
    margin-left: 40px;
    color: coral;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
.para{
    
    margin-left: 40px;
    color:white; 
}
.class-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    width: 300px;
    height: 400px;
    background-color: rgb(36, 56, 54);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px;
}
ul{
    list-style:none;
}
.knowbtn{
text-align: center;
position:relative;
margin-left: 30%;
margin: 65px;
justify-content: flex-end;
}
